[submodule "vendor/SDL"]
	path = vendor/SDL
	url = https://github.com/libsdl-org/SDL.git
[submodule "vendor/OpenSceneGraph"]
	path = vendor/OpenSceneGraph
	url = https://github.com/OpenMW/osg.git
[submodule "vendor/imgui"]
	path = vendor/imgui
	url = git@github.com:ocornut/imgui.git
[submodule "box3d"]
	path = box3d
	url = https://github.com/erincatto/box3d
